
.carousel-window {
  position: relative; /* necesario para que los botones se posicionen dentro */
  width: 300%;
  max-width: 500px;
   height: 500px;
  overflow: hidden;
  margin: auto;
  margin-top: 2%;
}
.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.1s ease;
}
img{
  
  width: 400px;   /* igual que la ventana */
  height: 500px;
}
.product-card {
  width: 500px;   /* igual que la ventana */
  height: 500px;
  flex-shrink: 0;
  text-align: center}



.Título{
font-size: 15px;
}

.carousel-btn {
  position: absolute;
  transform: translateY(-50%);
   margin-top:-20% ;
 margin-left: 1050px;
}

.carousel-btn.prev {
 margin-left: 450px;
   width: 100px;
   height: 100px;
    font-size: 100px; 
   
}
.carousel-btn.next {

   width: 100px;
   height: 100px;
   margin-left: 1030px;
}

.mat-mdc-fab.mat-accent{
--mdc-fab-container-color: #c4acb4;
}
.carousel-btn.next img {
  width: 80px;   /* ancho mayor */
  height: 80px;  /* alto mayor */
}

.next-btn svg {
  width: 40px;   /* ancho mayor */
  height: 40px;  /* alto mayor */
  fill: white;   /* color de la flecha */
  
}
.carousel-btn mat-icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}