.carousel-window {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}

.product-card {
  min-width: 100%;
}

.product-card img {
  width: 100%;
  height: auto;
  display: block;
}

/* Flechas centradas abajo */
.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.carousel-btn {
  width: 70px;
  height: 70px;
}

.carousel-btn mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: #c4acb4;
}