.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.product-card {
  width: 600px;   /* igual que la ventana */
  height: 800px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin-top: 3%;
  margin-left: 1%;
  margin-bottom: 3%;
}


p{
 font-size: 45px; 


}

h3{
    font-size: 50px;
font-weight: normal;
margin-bottom: -2%;
}


.product-card img {
  
  width: 600px;   /* igual que la ventana */
  height: 800px;
  border-radius: 10px;
}

button {
   
    font-size: 40px;

  height: 50px;}